#ifndef SNITCH_CONFIG_HPP
#define SNITCH_CONFIG_HPP

// These are defined from build-time configuration.
// clang-format off
#define SNITCH_VERSION "${PROJECT_VERSION}"
#define SNITCH_FULL_VERSION "${SNITCH_FULL_VERSION}"
#define SNITCH_VERSION_MAJOR ${PROJECT_VERSION_MAJOR}
#define SNITCH_VERSION_MINOR ${PROJECT_VERSION_MINOR}
#define SNITCH_VERSION_PATCH ${PROJECT_VERSION_PATCH}

#if !defined(SNITCH_MAX_TEST_CASES)
#    define SNITCH_MAX_TEST_CASES ${SNITCH_MAX_TEST_CASES}
#endif
#if !defined(SNITCH_MAX_NESTED_SECTIONS)
#    define SNITCH_MAX_NESTED_SECTIONS ${SNITCH_MAX_NESTED_SECTIONS}
#endif
#if !defined(SNITCH_MAX_EXPR_LENGTH)
#    define SNITCH_MAX_EXPR_LENGTH ${SNITCH_MAX_EXPR_LENGTH}
#endif
#if !defined(SNITCH_MAX_MESSAGE_LENGTH)
#    define SNITCH_MAX_MESSAGE_LENGTH ${SNITCH_MAX_MESSAGE_LENGTH}
#endif
#if !defined(SNITCH_MAX_TEST_NAME_LENGTH)
#    define SNITCH_MAX_TEST_NAME_LENGTH ${SNITCH_MAX_TEST_NAME_LENGTH}
#endif
#if !defined(SNITCH_MAX_TAG_LENGTH)
#    define SNITCH_MAX_TAG_LENGTH ${SNITCH_MAX_TAG_LENGTH}
#endif
#if !defined(SNITCH_MAX_CAPTURES)
#    define SNITCH_MAX_CAPTURES ${SNITCH_MAX_CAPTURES}
#endif
#if !defined(SNITCH_MAX_CAPTURE_LENGTH)
#    define SNITCH_MAX_CAPTURE_LENGTH ${SNITCH_MAX_CAPTURE_LENGTH}
#endif
#if !defined(SNITCH_MAX_UNIQUE_TAGS)
#    define SNITCH_MAX_UNIQUE_TAGS ${SNITCH_MAX_UNIQUE_TAGS}
#endif
#if !defined(SNITCH_MAX_COMMAND_LINE_ARGS)
#    define SNITCH_MAX_COMMAND_LINE_ARGS ${SNITCH_MAX_COMMAND_LINE_ARGS}
#endif
#if !defined(SNITCH_DEFINE_MAIN)
#    cmakedefine01 SNITCH_DEFINE_MAIN
#endif
#if !defined(SNITCH_WITH_EXCEPTIONS)
#    cmakedefine01 SNITCH_WITH_EXCEPTIONS
#endif
#if !defined(SNITCH_WITH_TIMINGS)
#    cmakedefine01 SNITCH_WITH_TIMINGS
#endif
#if !defined(SNITCH_WITH_SHORTHAND_MACROS)
#    cmakedefine01 SNITCH_WITH_SHORTHAND_MACROS
#endif
#if !defined(SNITCH_DEFAULT_WITH_COLOR)
#    cmakedefine01 SNITCH_DEFAULT_WITH_COLOR
#endif
// clang-format on

#if defined(_MSC_VER)
#    if defined(_KERNEL_MODE) || (defined(_HAS_EXCEPTIONS) && !_HAS_EXCEPTIONS)
#        define SNITCH_EXCEPTIONS_NOT_AVAILABLE
#    endif
#elif defined(__clang__) || defined(__GNUC__)
#    if !defined(__EXCEPTIONS)
#        define SNITCH_EXCEPTIONS_NOT_AVAILABLE
#    endif
#endif

#if defined(SNITCH_EXCEPTIONS_NOT_AVAILABLE)
#    undef SNITCH_WITH_EXCEPTIONS
#    define SNITCH_WITH_EXCEPTIONS 0
#endif

#endif
